/*tabs*/

#tabs {
	position:relative;
	text-align:center;
	list-style-type:none;
	width:100%;
}

#tabs LI {
	float:left;
	margin:0;
}

#tabs A {
	display:block;
	color:orange;
	text-decoration:none;
	font-weight:bold;
	font-family:Arial;
	background:gray;
	padding:0.25 1em 0.25em 1em;
	border-left:1px solid white;
	border-top:1px solid white;
	border-right:1px solid white;
}

#tabs A:hover,
#tabs A:active {
	background:black;
}

/*subnav*/

#tabs UL {
	position:absolute;
	left:0;
	top:1.5em;
	float:left;
	margin:0;
	list-style:none;
	border-top:1px solid gray;
	border-left:1px solid gray;
	border-bottom:1px solid gray;
	border-right:1px solid gray;
}

#tabs UL LI {
	float:left;
	display:block;
	margin-top:1px;
}

#tabs UL A {
	background:gray;
	color:orange;
	display:inline;
	margin:0;
	font-weight:bold;
	padding:0.25 1em 0.25em 1em;
	border-left:1px solid white;
	border-top:1px solid white;
	border-right:1px solid white;
}

#tabs UL A:hover,
#tabs UL A:active {
	background:black;
}